auth_server:
  listen_addr: localhost
  port: 3000

  logging:
    loggers:
      express:
        console:
          level: info
        logstash:
          level: info
      errors:
        console:
          level: info
        logstash:
          level: info
    transports:
      logstash:
        host: 127.0.0.1
        port: 5699

  path:
    base: /oauth/v1
    authorize: /authorize
    login: /login
    introspect: '/introspect'

  database:
    host: host.vnet
    username: expapp
    password: expapp
    database: expapp
    dialect: postgres
