server:
  listen_addr: localhost
  port: 3000

  logging:
    express:
      console:
        level: info
      logstash:
        level: info
    error:
      console:
        level: info
      file:
        level: error
        path: "./error.log"

path:
  base: /oauth/v1
  authorize: /authorize
  login: /login
  introspect: '/introspect'

database:
  host: host.vnet
  username: expapp
  password: expapp
  database: expapp
  dialect: postgres
