server:
  listen_addr: localhost
  port: 3000

  logging:
    express:
      console:
        level: info
      logstash:
        level: info
    app:
      console:
        level: info
      file:
        level: error
        path: "./app.log"
    error:
      console:
        level: info
      file:
        level: error
        path: "./error.log"

database:
  host: host.vnet
  username: expapp
  password: expapp
  database: expapp
  dialect: postgres
